.navbar__container {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 1px 2px 5px rgb(82, 82, 82);
}

.navbar__desktop-nav {
  display: none;
}

.navbar__image {
  width: 125px;
}

.navbar__menu-icon {
  font-weight: bold;
}

.navbar__menu-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.menusito {
  background-color: red;
}

@media only screen and (min-width: 768px) {
  .navbar__menu-button {
    display: none;
  }

  .navbar__desktop-nav {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      font-weight: bold;
      color: #151515;
      font-size: 16px;
      border-radius: 50px;
    }
  }
}
