<div class="navbar__container">
  <img
    class="navbar__image"
    src="../../../../assets/logo.svg"
    alt="Match Pro Logo"
  />
  <button class="navbar__menu-button" [matMenuTriggerFor]="menu">
    <i class="material-icons navbar__menu-icon">menu</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">home</button>
    <button mat-menu-item routerLink="bet">Apuestas</button>
    <button mat-menu-item routerLink="ranking">Ranking</button>
    <button mat-menu-item routerLink="results">Resultados</button>
    <button mat-menu-item (click)="logout()">Salir</button>
  </mat-menu>
  <nav class="navbar__desktop-nav">
    <a mat-menu-item routerLink="">Home</a>
    <a mat-menu-item routerLink="bet">Apuestas</a>
    <a mat-menu-item routerLink="ranking">Ranking</a>
    <a mat-menu-item routerLink="results">Resultados</a>
    <a mat-menu-item (click)="logout()">Salir</a>
  </nav>
</div>
