<form [formGroup]="bet">
  <div class="match-card__wrapper">
    <mat-card class="match-card__container">
      <mat-card-header class="match-card__header-container">
        <div class="match__header-icon-container" mat-card-avatar>
          <img
            class="match__header-icon"
            src="../../../../assets/svg-logos/fifa-world-cup-2022-seeklogo.com.svg"
            alt="Qatar logo"
          />
        </div>
        <mat-card-title>{{ match.fase }}</mat-card-title>
        <mat-card-subtitle
          >{{ match.fecha }} {{ match.hora }} | Stadium:
          {{ match.estadio }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content class="match-card__match-container">
        <div class="match-card__team-container">
          <div>
            <img
              class="match-card__team-flag"
              src="{{ match.equipo1.bandera }}"
              alt="Equipo Local Bandera"
            />
          </div>
          <div class="match-card__team-name">{{ match.equipo1.nombre }}</div>
          <input
            type="radio"
            [value]="match.equipo1.nombre"
            name="winner"
            formControlName="winner"
          />
        </div>
        <div class="match-card__tie">
          <div>vs</div>
          <div class="match-card__tie-label">empate</div>
          <input
            class="match-card__tie-item"
            type="radio"
            value="tie"
            name="winner"
            formControlName="winner"
          />
        </div>
        <div class="match-card__team-container">
          <div>
            <img
              class="match-card__team-flag"
              src="{{ match.equipo2.bandera }}"
              alt="Equipo Visitante Bandera"
            />
          </div>
          <div class="match-card__team-name">{{ match.equipo2.nombre }}</div>
          <input
            type="radio"
            [value]="match.equipo2.nombre"
            name="winner"
            formControlName="winner"
          />
        </div>
      </mat-card-content>
      <mat-card-actions class="match-card__actions-container">
        <button mat-button mat-dialog-close class="mp-button" (click)="postBet()">
          Apostar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <p class="good-luck">Mucha Suerte!</p>
</form>
