.login-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.login-form__title {
  font-size: 24px;
  margin: 8px;
  text-align: center;
}

.login-form__input {
  width: 100%;
}

.form-field__icon {
  margin-right: 5px;
  color: rgb(56, 56, 56);
}

.login-form {
  display: flex;
  flex-direction: column;
}
