<div class="login-form__container">
  <img
    class="login-form__logo"
    src="../../../../assets/logo.svg"
    alt="Matchpro Logo"
  />
  <div class="login-form__title">Bienvenido Nuevamente</div>
  <form [formGroup]="user" autocomplete="off" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon class="form-field__icon" matPrefix>email</mat-icon>
      <input
        class="login-form__input"
        type="email"
        name="email"
        id="email"
        matInput
        placeholder="Ej. yo@miproveedor.com"
        formControlName="email"
      />
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <mat-icon class="form-field__icon" matPrefix>lock</mat-icon>
      <input
        type="password"
        name="password"
        id="password"
        matInput
        placeholder="Password"
        formControlName="password"
      />
      <mat-error>Este campo es requerido</mat-error>
    </mat-form-field>
  </form>
  <button
    [disabled]="user.invalid"
    class="mp-button"
    mat-raised-button
    (click)="login()"
    mat-dialog-close
  >
    Login
  </button>
</div>
