<div class="login-form__container">
  <div class="login-form__selection">
    <img src="../../../../assets/logo.svg" alt="Matchpro logo" />
    <div class="login-form__selection-text">
      <h3>Descubre la nueva forma de apostar</h3>
      <p>
        Informate sobre los próximos partidos del mundial Qatar 2022 y ganá!
      </p>
    </div>
    <div class="login-form__selection-button-container">
      <button class="login-form__selection-button" mat-raised-button (click)="openLogin()">
        Login
      </button>
      <button class="login-form__selection-button" mat-raised-button (click)="openRegister()">
        Registrarse
      </button>
    </div>
  </div>
</div>
