<div class="login-form__container">
  <img
    class="login-form__logo"
    src="../../../../assets/logo.svg"
    alt="Matchpro Logo"
  />
  <div class="login-form__title">Registrate para ganar!</div>
  <form class="" autocomplete="off" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <mat-icon class="form-field__icon" matPrefix>email</mat-icon>
      <input
        class="login-form__input"
        type="email"
        name="email"
        id="email"
        matInput
        placeholder="Ej. yo@miproveedor.com"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <mat-icon class="form-field__icon" matPrefix>lock</mat-icon>
      <input
        type="password"
        name="password"
        id="password"
        matInput
        placeholder="Password"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Repite tu password</mat-label>
      <mat-icon class="form-field__icon" matPrefix>lock</mat-icon>
      <input
        type="passwordRepeat"
        name="passwordRepeat"
        id="passwordRepeat"
        matInput
        placeholder="password"
      />
    </mat-form-field>
  </form>
  <button class="mp-button" mat-raised-button>Login</button>
</div>
