<div class="bet-match-card__container" *ngFor="let bet of myBets">
  <div class="bet-match-card__match-title">
    <span>{{ bet.match.fecha }} | {{ bet.match.hora }}</span>
    <div class="bet-match-card__match">
      <div class="bet-match-card__team">
        <img
          class="bet-match-card__team-flag"
          src="{{ bet.match.equipo1.bandera }}"
          alt="Team 1 flag"
        />
        <div>{{ bet.match.equipo1.nombre }}</div>
      </div>
      <div>vs</div>
      <div class="bet-match-card__team">
        <img
          class="bet-match-card__team-flag"
          src="{{ bet.match.equipo2.bandera }}"
          alt="Team 2 flag"
        />
        <div>{{ bet.match.equipo2.nombre }}</div>
      </div>
    </div>
  </div>
  <div class="bet-match-card__pick">
    <div class="bet-match-card__pick-title">Mi Apuesta</div>
    <div class="bet-match-card__selected">{{ bet.winner }}</div>
  </div>
  <div class="bet-match-card__actions">
    <button
      (click)="updateBet(bet)"
      class="bet-match-card__actions-item"
      mat-mini-fab
    >
      <mat-icon>assignment_late</mat-icon>
    </button>
  </div>
</div>
