.match-card__container {
  width: 275px;
  margin-bottom: 20px;
}

.match__header-icon {
  max-width: 50px;
  max-height: 50px;
}

.match-card__team-flag {
  max-width: 75px;
  max-height: auto;
}

.match-card__match-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.match-card__team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-card__actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-card__team-name {
  font-weight: 600;
  font-size: 16px;
  color: #151515;
}

.result-card__icon {
  &--ok {
    color: #00ff40;
  }
  &--error {
    color: #ed1c24;
  }
}

.result-card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.result-card__text {
  margin-right: 5px;
}

.results__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .results__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
